/* ----- LIVE MATCHES SECTION -----*/

.live-matches {
    padding: 0 15px;
}

.live-matches__header {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid var(--matches-color);
    padding: 5px;
}

.live-matches__header div {
    display: flex;
    color: var(--matches-color);
}

.live-matches__header div p {
    margin: 0 5px;
    padding: 0;
    font-size: 12px;
    align-self: center;
}

.live-matches__header select {
    font-size: 12px;
    border-radius: 8px;
}

.live-matches__header select option {
    font-size: 14px;
    border-radius: 8px;
}


.live-matches__carousel {
    display: flex;
    align-items: center;
}

.live-matches__track {
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 0px;
    margin: 0;
}

.live-matches__track .card {
    border: 0;
    min-width: 150px;
    background-color: lightgray;
    margin: 5px 0px;
    text-align: center;
}

.live-matches__track .card h2,
.live-matches__track .card h3,
.live-matches__track .card h4 {
    margin: 2px;
    font-size: small;
}

.live-matches__track .card h3:last-of-type {
    margin: 0;
    font-size: large;
    color: var(--matches-color);
}

.live-matches__track .card div {
    margin: 0;
    background-color: rgb(240, 240, 240);
    padding: 5px;
}

.live-matches__right-btn,
.live-matches__left-btn {
    width: 5%;
    font-size: 40px;
    border: 0;
    background-color: white;
    margin: 5px;
}