:root{
    --wrapper-width: 1260px;
}

@media screen and (max-width: 1540px){
    :root{
        --wrapper-width: 996px;
    }
}

/* Content wrapper */
.content-wrapper {
    max-width: var(--wrapper-width);
    margin: 0 auto;
    padding: 0 8px;
}

/* Article header*/

/* Utilities */
.text-decoration-none {
    color: inherit;
}


.divider {
    position: relative;
}

.divider::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 10px;
    right: 0;
    width: 1px;
    background-color: var(--secondary-border-color);
}

/* Background ads */
#left-side-add,
#right-side-add {
    position: fixed;
    background: #948282;
    width: calc((100% - var(--wrapper-width))/2);
    height: 100%;
    top: 0;
    z-index: 100;
}

#right-side-add {
    right: 0
}

#top-add {
    display: block;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #948282;
}


/* ----- MAIN LAYOUT ----- */
.layout__main {
    border-right: 1px solid var(--border-color);
    margin: 0;
}

/* ----- ASIDE LAYOUT ----- */
.layout__aside{
    position: sticky;
    top: 60px;
}

.layout__aside .news-card__title,
.layout__aside .news-card.media-left .news-card__title
{
    font-size: 1rem;
    line-height: 23px;
}

